<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tournament_type.name %>
</p>

<%= link_to 'Edit', edit_tournament_type_path(@tournament_type) %> |
<%= link_to 'Back', tournament_types_path %>
